/MVC_Architecture/nbproject/private/
/MVC_Architecture/build/
/EL_UsingELinJSP/nbproject/private/
/EL_UsingELinJSP/build/
/EL_UsingStaticFunction/nbproject/private/
/EL_UsingStaticFunction/build/
/JSTL_SQL/nbproject/private/
/JSTL_SQL/build/
/JSTL_EL/nbproject/private/
/JSTL_EL/build/
/JSTL_EL/dist/