/MVC_Architecture/nbproject/private/
/MVC_Architecture/build/
/EL_UsingELinJSP/nbproject/private/
/EL_UsingELinJSP/build/
/EL_UsingStaticFunction/nbproject/private/
/EL_UsingStaticFunction/build/
/JSTL_SQL/nbproject/private/
/JSTL_SQL/build/
/JSTL_EL/nbproject/private/
/JSTL_EL/build/
/JSTL_EL/dist/
/PreTest/build/
/PreTest_DAO/nbproject/private/
/PreTest_DAO/build/
/PreTest_DAO/dist/
/JSTL_EL_MySQL/nbproject/private/
/JSTL_EL_MySQL/build/
/JSTL_EL_MySQL/dist/
/UploadFileUsingServlet/nbproject/private/
/UploadFileUsingServlet/build/
/OnTap/nbproject/private/
/CustomTag_WithAttributes/nbproject/private/
/CustomTag_WithAttributes/build/